/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

header {
    background-color: black;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

.search-container {
    display: flex;
    justify-content: center;
}

#search-input {
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
}

#search-button {
    background-color: orange;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Movie section styles */
.peliculas-populares {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.movie {
    position: relative;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.movie:hover .movie-overlay {
    opacity: 1;
}

.movie-overlay .btn {
    background-color: orange;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.movie-overlay .btn:hover {
    background-color: #ff8c00;
}

/* Footer styles */
footer {
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}

h1, h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: white;
}

video {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    display: block;
}
